<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- this line tell us the responsive grid sys-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

 -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 <link rel="stylesheet" href="/static/css/community.css">
</head>
<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="/community.html">Community_Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Events</li>
            </ol>
        </nav>
        <img src='/static/image/sparc-banner.jpg' alt="event-sparx" class="img-fluid shadow">
    </div>
    <div class="container">
        <div class="row">
            <div class="col ml-lg-5 mt-3">
                <h4>06th january 2021 by CodeRangers</h4>
                <h3 class="mt-3 mb-5 font-weight-bold" style="opacity: 0.8;">Ranger Challenge '18</h3>
                <h5 class="font-italic" style="opacity: .6;">Innovation is production or adoption, assimilation, and exploitation of a value-added novelty in economic and social spheres; renewal and enlargement of products, services, and markets; development of new methods of production; and the establishment of new management systems. It is both a process and an outcome.</h5>
            </div> 
        </div>
        <div class="row">
            <div class="col mt-3 ml-lg-5">
                <h5 class="font-weight-bold"> Robotic Competetion in Banglore for School and College Students</h5>
            </div>
        </div>
        <div class="row ml-lg-5 mt-3">
            <div class="col-md-4">
                    <h4 class="font-weight-bold text-success">Venue</h4>
                    <h5>TAG Auditorium, Anna University, Chennai</h5>
            </div>
            <div class="col-md-4">
                    <h4 class="font-weight-bold text-success"> Date & Time</h4>
                    <h5>07th January 2020</h5>
                    <h5>At 9.00 AM - 5.00 PM</h5>

            </div>
            <div class="col-md-4">
                  <h4 class="font-weight-bold text-success">Organizer</h4>
                  <h5> Code Rangers </h5>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3 ml-lg-5">
                <h4 class="font-weight-bold">Competetions / Games</h4>
            </div>
        </div>
        <div class="row ml-lg-5 mt-3 mb-3">
            <div class="col-md-4 mb-3 shadow">
               <img src="/static/image/comp1.jpg" class="img-fluid" alt="comp1">
               <p class="mt-3 font-weight-bold competition-hover text-info">Robo Sumo</p>
               <p class="mt-3"> Design-build is a method of project delivery in which one entity - the design-build team - works under a single contract with the project owner to provide design and construction services</p>
            </div>
            <div class="col-md-4 mb-3">
                <img src="/static/image/comp2.jpg" class="img-fluid" alt="comp2">
                <p class="mt-3 font-weight-bold competition-hover text-info">Robo soccer</p>
                <p class="mt-3"> Design-build is a method of project delivery in which one entity - the design-build team - works under a single contract with the project owner to provide design and construction services</p>
           
            </div>
            <div class="col-md-4 mb-3 shadow">
                <img src="/static/image/comp3.jpg" class="img-fluid" alt="comp3">
                <p class="mt-3 font-weight-bold competition-hover text-info">Self Driving Car</p>
                <p class="mt-3"> Design-build is a method of project delivery in which one entity - the design-build team - works under a single contract with the project owner to provide design and construction services</p>
           
            </div>
        </div>
        <div class="row ml-lg-5 mt-3 mb-5">
            <div class="col-md-4 mb-3">
                <img src="/static/image/comp4.jpg" class="img-fluid" alt="comp4">
                <p class="mt-3 font-weight-bold competition-hover text-info">Innovation Expo</p>
                <p class="mt-3"> Design-build is a method of project delivery in which one entity - the design-build team - works under a single contract with the project owner to provide design and construction services</p>
           
            </div>
            <div class="col-md-4 mb-3 shadow">
                <img src="/static/image/comp5.jpg" class="img-fluid" alt="comp5">
                <p class="mt-3 font-weight-bold competition-hover text-info">Walk a mile Marathon</p>
                <p class="mt-3"> Design-build is a method of project delivery in which one entity - the design-build team - works under a single contract with the project owner to provide design and construction services</p>
           
            </div>
            <div class="col-md-4 mb-3">
                <img src="/static/image/comp6.jpg"class="img-fluid"  alt="comp6">
                <p class="mt-3 font-weight-bold competition-hover text-info">Speed IT up</p>
                <p class="mt-3"> Design-build is a method of project delivery in which one entity - the design-build team - works under a single contract with the project owner to provide design and construction services</p>
           
            </div>
        </div>
        <hr>
        <div class="row mt-5 ml-lg-5 mb-3">
            <div class="col">
                <h5 class="font-weight-bold" style="opacity: .8;">The Objective behind the Sparc Challenges are:</h5>
            </div>
        </div>
        <div class="row mt-2 ml-lg-5">
            <div class="col">
                <p><i class="fa fa-check text-success mr-3 mb-2" style="font-size:24px"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at perspiciatis quidem id, sequi nemo.</p>
                <p><i class="fa fa-check text-success mr-3 mb-2" style="font-size:24px"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at perspiciatis quidem id, sequi nemo.</p>
                <p><i class="fa fa-check text-success mr-3 mb-2" style="font-size:24px"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at perspiciatis quidem id, sequi nemo.</p>
                <p><i class="fa fa-check text-success mr-3 mb-2" style="font-size:24px"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at perspiciatis quidem id, sequi nemo.</p>
                <p><i class="fa fa-check text-success mr-3 mb-2" style="font-size:24px"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at perspiciatis quidem id, sequi nemo.</p>
               <p class="font-weight-bold mb-5" style="opacity: .8;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at perspiciatis quidem id, sequi nemo.</p>
            </div>
        </div>
        <div class="row mt-2 ml-lg-5 mb-3">
            <div class="col">
                <h4 class="font-weight-bold" style="opacity: .9;">Gallery</h4>
            </div>
        </div>
        <div class="row mb-5 ml-lg-5">
 
            <div class="col-md-8 ml-lg-3 my-5">
                <div id="carouselExampleIndicators" class="carousel slide shadow" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active shadow">
                        <img class="d-block w-100 img-fluid" src="/static/image/1_2.jpg" style="width:100%;height: 50vh;" alt="First slide">
                      </div>
                      <div class="carousel-item shadow">
                        <img class="d-block w-100 img-fluid" src="/static/image/2_2.jpg" style="width:100%;height: 50vh;"  alt="Second slide">
                      </div>
                      <div class="carousel-item shadow">
                        <img class="d-block w-100 img-fluid" src="/static/image/6_2.jpg" style="width:100%;height: 50vh;" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-3 ml-lg-5 shadow">
                <img src="/static/image/comp5.jpg" class="img-fluid" alt="comp5">
                <p class="mt-3 font-weight-bold competition-hover text-info">Student Contribution </p>
                <p class="mt-3"> Design-build is a method of project delivery in which one entity - the design-build team - works under a single contract with the project owner to provide design and construction services</p>
           
            </div>
        </div>


    </div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>