<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- this line tell us the responsive grid sys-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

 -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 <link rel="stylesheet" href="/static/css/community.css">
</head>
<body>
    <div class="container bg-light">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="/community.html">Community_Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Industrial Solutions</li>
            </ol>
        </nav>
         <div class="row mb-5 mt-5">
             <div class="col">
                <h2 class="text-center text-success font-weight-bold" style="opacity: .8;">ARE YOU AN INDUSTRY ? HAVE A PROBLEM? NEED A SOLUTION?</h2>
                <h4 class="text-center my-5">Give your details and our representative from industry-relations will get in touch with you. We will post your problem onto our tech-community at your preferred location and you will soon have a solution from the young minds ! Every project is mentored by professionals too !</h4>
                <form>
                    <div class="form-row align-items-center">
                      <div class="col-sm-3 my-2">
                        <label class="sr-only min-vw-100" for="inlineFormInputName"> Enter Name</label>
                        <input type="text" class="form-control text-center" id="inlineFormInputName" placeholder="Name">
                      </div>
                      <div class="col-sm-3 my-2">
                        <label class="sr-only" for="inlineFormInputIndustry">Enter Industry</label>
                        <input type="text" class="form-control text-center" id="inlineFormInputIndustry" placeholder="Enter Industry">
                      </div>
                      <div class="col-sm-3 my-2">
                        <label class="sr-only" for="inlineFormInputMobile">Enter Mobile Number</label>
                        <input type="text" class="form-control text-center" id="inlineFormInputMobile" placeholder="Enter Mobile Number">
                      </div>
                      <div class="col-sm-3 my-2">
                        <label class="sr-only" for="inlineFormInputMail">Enter Mail</label>
                        <input type="text" class="form-control text-center" id="inlineFormInputMail" placeholder="Enter Mail">
                      </div>

                    </div>
                    <div class="mx-auto mt-3">
                        <div class="col-auto my-1 text-center">
                            <button type="submit" class="btn btn-success text-center px-5">Submit</button>
                          </div>
                    </div>
                  </form>
             </div>
        </div>
        <h2 class="text-center text-info mb-5" style="opacity: 1;">Industrial Solution from our Alumini</h2>
        <div class="embed-responsive embed-responsive-16by9 mb-5">
            <iframe class="embed-responsive-item" width="500" height="480" src="../static/video/video.mp4"
                allowfullscreen></iframe>
        </div>
    </div>
    








<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>